@import url("../style.css");

h1 {
  font-size: 47px;
}

h2 {
  font-size: 27px;
}
.font12400 {
  font-size: 12px;
  font-weight: 400;
}
.font16400 {
  font-size: 16px;
  font-weight: 400;
}
.font16700 {
  font-size: 16px;
  font-weight: 700;
}

.boardMainContainer {
  display: flex;
  margin-top: 48px;
  flex-direction: column;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  gap: 26px;
}

.boxesContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  box-sizing: border-box !important;
}
.boxSize {
  flex: 0 0 250px;
  background-color: var(--white);
  padding: 16px;
  border-radius: 24px;
  margin-right:16px;
}

.headlineFromTask {
  padding: 4px 16px 4px 16px;
  border-radius: 8px;
  background-color: #0038ff;
  color: var(--white);
  display: inline-block;
}

.searchTaskInputField {
  display: flex;
  justify-content: center;
  padding: 8px 16px 8px 16px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  gap: 10px;
  background-color: #ffffff;
}

.searchTaskInputField input {
  width: 100%;
  border: none;
  font-size: 20px;
}

.searchTaskInputField input:focus {
  outline: none;
}

.headContainer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 16px;
}

.noTasksInThisSelection {
  color: #a8a8a8;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e7e7;
  border-radius: 10px;
  border: 1px dashed #a8a8a8;
  gap: 10px;
  padding: 8px 16px 8px 16px;
}
