@import url("../style.css");

body {
  background-color: var(--whiteGray);
}

h1 {
  font-size: 47px;
}

h2 {
  font-size: 27px;
}
.font12400 {
  font-size: 12px;
  font-weight: 400;
}
.font16400 {
  font-size: 16px;
  font-weight: 400;
}
.font16700 {
  font-size: 16px;
  font-weight: 700;
}

.boardMainContainer {
  display: flex;
  margin-top: 48px;
  flex-direction: column;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  gap: 26px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.boxesContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  box-sizing: border-box !important;
}

.headlineFromTask {
  padding: 4px 16px 4px 16px;
  border-radius: 8px;
  background-color: #0038ff;
  color: var(--white);
  display: inline-block;
}

.searchTaskInputField {
  display: flex;
  justify-content: center;
  padding: 8px 16px 8px 16px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  gap: 10px;
  background-color: #ffffff;
}

.searchTaskInputField input {
  width: 100%;
  border: none;
  font-size: 20px;
}

.searchTaskInputField input:focus {
  outline: none;
}

.headContainer {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.noTasksInThisSelection {
  color: #a8a8a8;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e7e7;
  border-radius: 10px;
  border: 1px dashed #a8a8a8;
  gap: 10px;
  padding: 8px 16px 8px 16px;
  width: 100%;
}

/*--In Progress--*/

.boxSizeProgress {
  flex: 0 0 250px;
  background-color: var(--white);
  padding: 16px;
  border-radius: 24px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.titleText {
  color: var(--lightGray);
}

.descriptionText {
  color: var(--fontGray);
}

.inProgressText {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.progressMainContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
  margin-bottom: 4px;
}

.progress-container {
  width: 60%;
  background-color: #f4f4f4;
  height: 8px;
  position: relative;
  border-radius: 8px;
}

.progress-bar {
  height: 50%;
  height: 8px;
  width: 0;
  background-color: #4589ff;
  position: absolute;
  border-radius: 8px;
}

.progressFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.IconBarClass {
  margin-left: 10px;
  max-width: 140px;
  display: flex;
}

.iconstlye {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: var(--yellow);
  border-radius: 50%;
  border: 2px solid var(--white);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  color: var(--white);
  margin-left: -10px;
}

/*--await for Feedback--*/

.boxSizeFeedback {
  flex: 0 0 250px;
  background-color: var(--white);
  padding: 16px;
  border-radius: 24px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*--done--*/

.boxSizeDone {
  flex: 0 0 250px;
  background-color: var(--white);
  padding: 16px;
  border-radius: 24px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/*--done--*/

.boxSizeToDo {
  flex: 0 0 250px;
  background-color: var(--white);
  padding: 16px;
  border-radius: 24px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
