
@media screen and (min-width: 300px)
{
    /** style container contacts incl. sort row **/
    .containerContacts {
        margin: 0 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
       /** background-color: rgba(0,0,0,0.2); **/
        padding: 24px 24px;
    }
    
    .alphabeticalRow {
        width: 100%;
        height: 58px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
    }
    
    .firstChartSort {
        font-size: 20px;
        padding: 17px 36px;
    
    }
    
    /** singleContact **/
    .singleContact {
        display: flex;
        flex-direction: row;
        padding: 15px 24px; 
        gap: 35px;  
    }
    
    
    /** contact signature icon **/
    .contactSignatureIcon {
        background-color: var(--orangeIcons);
        border-radius: 50%;
        width: 42px;
        height: 42px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--white);
    
    }
    
    .contactSignatureIconLetter {
        color: var(--white);
        font-size: 12px;
        font-weight: 400;
        text-align: center;
    }
    
    /** contact data **/
    
    .contactName {
        color: var(--black);
        font-size: 20px;
        line-height: 1.2;
    }
    
    .contactEmail {
        color: var(--intenseBlue);
        font-size: 16px;
        line-height: 1.2;
    }
    
    .styleHr {
        width: 100%;
        height: 1px;
        background-color: var(--lighterGray);
        margin: 8px 0;
    }
    
    /** btn **/
    #mobileBtnAddContact {
        background-color: var(--lightGray);
        border-radius: 50%;
        position: absolute; 
        width: 56px;
        height: 56px;
        position: fixed;
        bottom: 8.5%;
        right: 5%;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        line-height: 1.2;
    }
    
    .mobileBtnAddContactItem {
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    }
    
    .displayNone {
        display: none;
    }

    /* contactFlexContainer als Seitenelement für Desktop-Ansicht */
    #contactFlexContainer {
        background-color: var(--whiteGray);
        display: none;
    }
}

@media screen and (min-width: 456px) {
    .containerContacts {
        width: 400px;
    }
}

@media screen and (min-width: 721px) { 
    .containerContacts {
        width: 456px;
    }
}

@media screen and (min-width: 1000px) {
    body {
        display: flex;
        flex-direction: row;
        flex: 1;
        height: 100vh;
    }
    
    #contactFlexContainer {
        display: inline-block;
        flex: 1;
    }

    #mobileBtnAddContact{
        display: none;
    }
}

@media screen and (min-width: 1440px) {

}
