@import url("../style.css");

/* ---------------------------------------- */
/* Global style for login. */
/* ---------------------------------------- */
.LogInBoxShadow {
  box-shadow: 0px 0px 14px 3px #0000000a;
}

.RegisterBoxShadow {
  box-shadow: 0px 0px 14px 3px #0000000a;
}

.loginError {
  color: var(--wrongInput);
}

.emailDevision.active {
  border-color: var(--lightBlue);
}

.passwortDevision.active {
  border-color: var(--lightBlue);
}

.nameRegistDevision.active {
  border-color: var(--lightBlue);
}

.confirmPasswortDevision.active {
  border-color: var(--lightBlue);
}

/* ---------------------------------------- */

@media only screen and (max-width: 319px) and (min-width: 250px) {
  .signedUpSuccessfully {
    display: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 13rem;
    height: 2.5rem;
    border-radius: 0.6rem;
    position: absolute;
    left: 50%;
    top: 50.5%;
    transform: translate(-50%, -50%);
    background-color: var(--lightGray);
  }

  .signedUpSuccessfullyPara {
    font-size: 0.8rem;
    color: var(--white);
  }

  /* ---------------------------------------- */

  .firstRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--whiteGray);
  }

  .registerLayout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white);
    width: 15rem;
    height: 24rem;
    border-radius: 1.8rem;
  }

  .headerRegisterBox {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .headerRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .registerLayout h1 {
    font-size: 2rem;
    font-weight: 800;
  }

  .underlineFrameMobileRegister {
    width: 4rem;
    height: 0.15rem;
    background-color: var(--lightBlue);
  }

  .backToLoginMobile {
    width: 1rem;
  }

  .blancoHelper {
    width: 1rem;
  }

  /* ---------------------------------------- */

  .inpIconStyle {
    width: 1rem;
    height: 1rem;
  }

  /* ---------------------------------------- */

  .nameRegistDevision {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px var(--lighterGray);
    border-radius: 0.5rem;
    padding: 0.4rem 1rem 0.4rem 1rem;
    margin-top: 1.5rem;
    height: 2rem;
    width: 13rem;
    gap: 0.75rem;
  }

  .registerInputName {
    border: none;
    width: 100%;
    height: 1.25rem;
    font-size: 0.8rem;
    background-color: transparent;
  }

  .registerInputName:focus {
    outline: none;
  }

  .registerInputName::placeholder {
    color: var(--fontGray);
  }

  /* ---------------------------------------- */

  .emailDevision {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px var(--lighterGray);
    border-radius: 0.5rem;
    padding: 0.4rem 1rem 0.4rem 1rem;
    margin-top: 1.5rem;
    height: 2rem;
    width: 13rem;
    gap: 0.75rem;
  }

  .registerInputMail {
    border: none;
    width: 100%;
    height: 1.25rem;
    font-size: 0.8rem;
    background-color: transparent;
  }

  .registerInputMail:focus {
    outline: none;
  }

  .registerInputMail::placeholder {
    color: var(--fontGray);
  }

  /* ---------------------------------------- */

  .passwortDevision {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px var(--lighterGray);
    border-radius: 0.5rem;
    padding: 0.4rem 1rem 0.4rem 1rem;
    margin-top: 1rem;
    height: 2rem;
    width: 13rem;
    gap: 0.75rem;
  }

  .registerInpPass {
    border: none;
    width: 100%;
    height: 1.25rem;
    font-size: 0.8rem;
    background-color: transparent;
  }

  .registerInpPass:focus {
    outline: none;
  }

  .registerInpPass::placeholder {
    color: var(--fontGray);
  }

  /* ---------------------------------------- */

  .confirmPasswortDevision {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px var(--lighterGray);
    border-radius: 0.5rem;
    padding: 0.4rem 1rem 0.4rem 1rem;
    margin-top: 1rem;
    height: 2rem;
    width: 13rem;
    gap: 0.75rem;
  }

  .confirmPasswort {
    border: none;
    width: 100%;
    height: 1.25rem;
    font-size: 0.8rem;
    background-color: transparent;
  }

  .confirmPasswort:focus {
    outline: none;
  }

  .confirmPasswort::placeholder {
    color: var(--fontGray);
  }

  /* ---------------------------------------- */

  .acceptPolicyBox {
    display: flex;
    justify-content: center;
    padding: 1rem 0 1rem 0;
  }

  .acceptPolicy {
    font-size: 0.7rem;
    padding-left: 0.3rem;
  }

  .acceptPolicyAnchor {
    text-decoration: none;
    color: var(--lightBlue);
  }

  /* ---------------------------------------- */

  .mobilePoliceLegal {
    margin-bottom: 0.3rem;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .mobilePoliceLegal a {
    color: var(--fontGray);
    transition: transform 0.5s ease;
    font-size: 0.6rem !important;
    text-decoration: none;
  }

  .mobilePoliceLegal a:hover {
    cursor: pointer;
    color: var(--lightBlue);
    transform: scaleX(1.2);
    font-size: 1rem;
  }

  /* ---------------------------------------- */

  .registerBtnBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .registerError {
    display: none;
    color: var(--wrongInputText);
    font-size: smaller;
    margin-bottom: 0.5rem;
  }

  .RegisterBtn {
    font-weight: 700;
    font-size: 0.65rem;
    border: var(--lightGray) 1px solid;
    border-radius: 0.3rem;
    width: 5.4rem;
    height: 1.8rem;
    background-color: var(--lightGray);
    color: var(--white);
  }

  .RegisterBtn:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: var(--lighBlue);
    background-color: var(--lightBlue);
  }
}

/* ---------------------------------------- */

@media only screen and (max-width: 480px) and (min-width: 320px) {
}

@media only screen and (max-width: 720px) and (min-width: 481px) {
}

/* LINK */
/* 

@media only screen and (max-width: 1920px) and (min-width: 721px) {
  
  .registerLayout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    width: 37rem;
    height: 39rem;
    border-radius: 1.8rem;
  }



  .signedUpSuccessfully {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 4rem;
    border-radius: 1.05rem;
    position: absolute;
    left: 50%;
    bottom: -100%;
    transform: translate(-50%, -50%);
    background-color: var(--light-grey);
  }

  .signedUpSuccessfullyPara {
    color: var(--white-text);
  }

  .firstRegister {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .headerRegisterBox {
    display: flex;
    align-items: center;
    gap: 10rem;
  }

  .headerRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .registerLayout h1 {
    font-size: 2.5rem;
  }

  .nameRegistDevision {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px #d1d1d1;
    border-radius: 0.5rem;
    padding: 0.4rem 1rem 0.4rem 1rem;
    margin-top: 1rem;
    height: 2.5rem;
    width: 26rem;
    gap: 0.75rem;
  }

  .nameRegist {
    border: none;
    width: 100%;
    height: 1.25rem;
    font-size: 1rem;
    background-color: transparent;
  }

  .nameRegist:focus {
    outline: none;
  }

  .nameRegistDevision.active {
    border-color: var(--light-blue);
  }

  .emailDevision {
    margin-top: 1rem !important;
  }

  .registerInpMail {
    border: none;
    width: 100%;
    height: 1.25rem;
    font-size: 1rem;
    background-color: transparent;
  }

  .registerInpMail:focus {
    outline: none;
  }

  .registerInpPass {
    border: none;
    width: 100%;
    height: 1.25rem;
    font-size: 1rem;
    background-color: transparent;
  }

  .registerInpPass:focus {
    outline: none;
  }

  .confirmPasswortDevision {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px #d1d1d1;
    border-radius: 0.5rem;
    padding: 0.4rem 1rem 0.4rem 1rem;
    margin-top: 1rem;
    height: 2.5rem;
    width: 26rem;
    gap: 0.75rem;
  }

  .confirmPasswort {
    border: none;
    width: 100%;
    height: 1.25rem;
    font-size: 1rem;
    background-color: transparent;
  }

  .confirmPasswort:focus {
    outline: none;
  }

  .confirmPasswortDevision.active {
    border-color: var(--light-blue);
  }

  .inpIconStyle {
    width: 1.25rem;
    height: 1.25rem;
  }

  .acceptPolicyBox {
    margin-top: 3rem;
  }

  .acceptPolicy {
    font-size: 0.8rem !important;
  }

  .rememberBox {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    padding-right: 4rem;
    gap: 0.5rem;
  }

  .registerBtnBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .RegisterBtn {
    font-weight: bold;
    border: #2a3647 1px solid;
    border-radius: 0.5rem;
    width: 9rem;
    height: 2.5rem;
    background-color: var(--light-grey);
    color: var(--white-text);
    margin-top: 1rem;
  }

  .RegisterBtn:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: var(--light-blue);
    background-color: var(--light-blue);
  }

  .mobilePoliceLegalSignUp {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    gap: 2rem;
    padding-bottom: 1rem;
  }

  .mobilePoliceLegalSignUp p {
    font-size: small;
    color: var(--font-gray);
  }
} */
