@import url("./css/fonts.css");

:root {
  --lighterGray: #d1d1d1;
  --lightGray: #2a3647;
  --lightBlue: #29abe2;
  --intenseBlue: #007CEE;
  --darkBlue: #091931;
  --darkBlueHover: #19273d;
  --green: #7AE229;
  --organe: #ff3d00;
  --orangeIcons: #ff7a00;
  --red:#FF3D00;
  --yellow: #FFA800;
  --pink: #fc71ff;
  --mintGreen: #1fd7c1;
  --whiteGray: #f6f7f8;
  --white: #fff;
  --wrongInputBorder: #ff001f;
  --wrongInputText: #FF8190;
  --fontGray: #a8a8a8;
  --fontWhite: #cdcdcd;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.hide {
  display: none;
}

.mainContent {
  background-color: var(--whiteGray);
  min-height: calc(100vh - 7rem);
}

input:focus {
  outline: none;
  border-color: var(--lightBlue);
}