/* ADD CONTACT CONTAINER */

#desktopAddContactContainer {
    display: none; 
}

#addContactContainer {
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 22;
}

.addContactHeadlines {
    margin-top: 56px;
}

.addContactHeaderH1  {
    color: var(--white);
    font-weight: 700;
    font-size: 47px;
    line-height: 1.2;
}

.addContactHeaderH3 {
    color: var(--white);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
}

.contactHeaderEmptySignature {
    width: 120px;
    height: 120px;
    background-color: var(--lighterGray);
    border: 2px solid var(--white);
    border-radius: 50%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 92px;
    left: calc(50% - 61px);
}
/* PRÜFEN */

#contactBodySignatureContainer{
    display: none; /* display none evtl. extra entfernen */
}

.contactBodyEmptySignature {
    display: none; /* kompletter Wechsel */
    }

.desktopAddContactGetBackFlex {
    display: none; 
}

#addContactInputFieldName {
    border: 1px solid var(--lighterGray);
}

#addContactInputFieldName:focus {
    border-color: var(--lightBlue);
}

#addContactInputFieldEmail {
    border: 1px solid var(--lighterGray);
}

#addContactInputFieldPhone {
    border: 1px solid var(--lighterGray);
}

@media screen and (min-width: 456px) {

}

@media screen and (min-width: 721px) { 
}

@media screen and (min-width: 1000px) {

}

@media screen and (min-width: 1440px) {
    #addContactContainer {
        position: absolute;
        width: 100vw; 
        height: 100vh; 
        right: 0;
        left: 0;
        top: 0; 
    }

    /* PRÜFEN */       
    .contactHeaderEmptySignature {
        display: none;
    }
       
    .addContactHeadlines {
        display: flex;
        flex-direction: column;
        gap: 5px; 
        align-items: flex-start;
        margin: 0;
    }

    .addContactHeaderH1 {
        font-size: 61px; /* Wechsel */
        line-height: 1.2;
    }

    .addContactHeaderH3 {
        color: var(--white);
        font-weight: 400;
        font-size: 27px; /* Wechsel */
        line-height: 1.2;
    }
       
    /* PRÜFEN */
    .contactBodyEmptySignature { 
        width: 120px;
        height: 120px;
        background-color: var(--lighterGray);
        border: 2px solid var(--white);
        border-radius: 50%;
        z-index: 5; /* Wechsel */
        display: flex; /* beim oberen Element nochmal prüfen */
        justify-content: center;
        align-items: center;
        position: 0; /* Wechsel */
        top: 0; /* Wechsel */
        left: 0; /* Wechsel */
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
        /* Wechsel display none an der Stelle entfernt */
    }
           
}
