 /* CONTACTS.CSS */

.white-background {
    background-color: var(--white) !important;
}  

/* RESET INPUT FIELDS */
input[type="text"],[type="email"],[type="tel"] {
    margin: 0;
    padding: 0;
    
    border: none;
    border-radius: 0;
    
    font-family: 'Inter', sans-serif;
    font-size: inherit;
    font-weight: 400;
    font-style: inherit;
    line-height: inherit;
    
    background-color: transparent;
    color: inherit;
    
    box-shadow: none;
    outline: none;
}

/* Übergreifendes Styling */

.d-none {
    display: none;
}

@media screen and (min-width: 456px) {
    /* contactFlexContainer als Seitenelement für Desktop-Ansicht */
    .containerContacts {
        width: 400px;
    }
}

@media screen and (min-width: 721px) { 
    .containerContacts {
        width: 456px;
    }
}

@media screen and (min-width: 1000px) {
    body {
        display: flex;
        flex-direction: row;
        /*flex: 1;*/
        height: 100vh;
    }

    /* #main {
        float: left;
        box-sizing: border-box;
    } */

    /* #listContactContainer{
        max-width: 456px;
        order: 1;
        margin: 0 14px;
        display: inline;
        background-color: white;
        padding: 24px 24px;
        position: absolute;
        top: 60px;
        overflow-y: auto;
        float:left;
    } */

    /* #showSingleContactContainer {
        display: inline;
        width: calc(100%-456px);
        order: 2; 
        overflow-y:auto;
    } */

    #mobileBtnAddContact{
        display: none;
    }
}

@media screen and (min-width: 1440px) {

}
