 
.mainContent {
    padding-top: 80px; 
    padding-bottom: 80px; 
    overflow-y: auto; 
    height: calc(100vh - 160px); 
  }

/* RESET INPUT FIELDS */
input[type="text"],[type="email"],[type="tel"] {
    margin: 0;
    padding: 0;
    
    border: none;
    border-radius: 0;
    
    /* Resetting font styles */
    font-family: 'Inter', sans-serif;
    font-size: inherit;
    font-weight: 400;
    font-style: inherit;
    line-height: inherit;
    
    /* Resetting background and text color */
    background-color: transparent;
    color: inherit;
    
    /* Resetting any other relevant properties */
    /* For instance, you might want to reset box-shadow, outline, etc. */
    box-shadow: none;
    outline: none;
    
    /* You can add more specific styling as needed */
}

/* */
#editContact {
    display: none;
}

 
 /* container contacts incl. sort row */
 #containerListContacts {
    margin: 0 14px;
    display: inline;
    /*flex-direction: column */
    /*justify-content: center; */
    /* align-items: flex-start; */
    padding: 24px 24px;
    position: relative;
    top: -60px;

}

#alphabeticalRow {
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.firstChartSort {
    font-size: 20px;
    padding: 17px 36px;
}

/* singleContact */
.singleContact {
    display: flex;
    padding: 15px 24px; 
    gap: 35px;  
}

a.singleContact:hover {
    cursor: pointer;
}

/* contact signature icon */
.contactSignatureIcon {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--white);
}

.contactSignatureIconLetter {
    color: var(--white);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

/* contact data */

.contactName {
    color: var(--black);
    font-size: 20px;
    line-height: 1.2;
}

.contactEmail {
    color: var(--intenseBlue);
    font-size: 16px;
    line-height: 1.2;
}

.styleHr {
    width: 100%;
    height: 1px;
    background-color: var(--lighterGray);
    margin: 8px 0;
}

/* Styling Mobile Buttons */

.mobileBtnRound {
    background-color: var(--lightGray);
    border-radius: 50%;
    width: 46px;
    height: 46px;
    justify-items: center;
    z-index: 999;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.mobileBtnRound:hover {
    cursor: pointer;
    background-color: var(--lightBlue);  
}


.positionAbsolute {
    position: absolute;
    bottom: 100px;
    right: 20px;
}

.d-none {
    display: none;
}

/* Mobile Button Three Points */

#mobileBtnThreePoints {
    display: none;
}

.mobileBtnThreePointsIcon {
    height: 21.33px;
    position: relative;
    left: 20px;
    top: 12px;
}

/* Mobile Button Select Options */
#mobileBtnSelectOptions {
    width: 116px;
    height: 116px;
    display: none;
}

.mobileBtnSquare {
    background-color: var(--white);
    color: var(--black);
    border-radius: 20px 20px 0 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 999;
}

.internBtnSquare {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 18px;
}

.mobileBtnIconDelete {
    height: 18px;
}

.mobileBtnIconEdit {
    height: 18.25px;
}

.internBtnSquareLink {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
}

/* Übergreifendes Styling */

.d-none {
    display: none;
}
@media screen and (min-width: 300px)
{
    
   
}



@media screen and (min-width: 456px) {
    /* contactFlexContainer als Seitenelement für Desktop-Ansicht */
    .containerContacts {
        width: 400px;
    }
}

@media screen and (min-width: 721px) { 
    .containerContacts {
        width: 456px;
    }
}

@media screen and (min-width: 1000px) {
    body {
        display: flex;
        flex-direction: row;
        flex: 1;
        height: 100vh;
    }
    
    #contactFlexContainer {
        display: inline-block;
        flex: 1;
    }

    #mobileBtnAddContact{
        display: none;
    }
}

@media screen and (min-width: 1440px) {

}
