/* EDIT CONTACT CSS */

#mobileBtnEditContact {
    background-color: var(--lightGray);
    border-radius: 50%;
    position: absolute; 
    width: 56px;
    height: 56px;
    position: fixed;
    bottom: 8.5%;
    right: 5%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    line-height: 1.2;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#mobileBtnEditContact:hover {
    cursor: pointer;
}
/* JETZT AB HIER EDIT CONTACT */

#editContactContainer {
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 22;
} 

.editContactHeaderSection {
    margin-top: 80px;  
}
/* ÜBERARBEITEN */
.editContactHeadline  {
    color: var(--white);
    font-weight: 700;
    font-size: 47px;
    line-height: 1.2;
}

.editContactSubtitle {
    color: var(--white);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    display: none;
}

#editContactHeaderSignature {   
    font-size: 47px;
    line-height: 1.2;
    color: var(--white);     
    width: 120px;
    height: 120px;
    border: 2px solid var(--white);
    border-radius: 50%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 92px;
    left: calc(50% - 61px);
    /*background-color: var(--orangeIcons);*/
}
    
.editContactBtnRow {
    display: flex;
    margin-top: 36px;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.editContactBtnDelete {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--lightGray);
    background-color: var(--white);
    border-radius: 10px;
    padding: 18px 10px; 
    border: 1px solid var(--lightGray);
}

.editContactBtnDelete:hover {
    cursor: pointer;
} 
/* PRÜFEN */
#contactBodySignatureContainer{
    display: none; /* display none evtl. extra entfernen */
}

/*
.desktopAddContactGetBackFlex {
    display: none; 
} */

#editContactInputFieldName {
    border: 1px solid var(--lighterGray);
}

#editContactInputFieldName:focus {
    border-color: var(--lightBlue);
}

#editContactInputFieldEmail {
    border: 1px solid var(--lighterGray);
}

#editContactInputFieldPhone {
    border: 1px solid var(--lighterGray);
}

/* AB HIER KOMPLETT ÜBERARBEITEN VON ADD GEKLAUT */
@media screen and (min-width: 1000px) {

}

@media screen and (min-width: 1440px) {
    #editContactContainer {
        position: absolute;
        width: 100vw; 
        height: 100vh; 
        right: 0;
        left: 0;
        top: 0; 
    }
/* ABWANDELN */
    #editContactHeaderSignature{
        display: none;
    }
/* PRÜFEN - vorher add */       
    .editContactHeaderSection {
        display: flex;
        flex-direction: column;
        gap: 5px; 
        align-items: flex-start;
        margin: 0;
    }
/* PRÜFEN - vorher add */ 
/* ABWANDELN */
    .editContactHeadline {
        font-size: 61px; /* Wechsel */
        line-height: 1.2;
    }
 
    .editContactSubtitle {
        color: var(--white);
        font-weight: 400;
        font-size: 27px; 
    }
    /* PRÜFEN */   
 
 /*
    .contactBodyEmptySignature { 
        width: 120px;
        height: 120px;
        background-color: var(--lighterGray);
        border: 2px solid var(--white);
        border-radius: 50%;
        z-index: 5; 
        display: flex; 
        justify-content: center;
        align-items: center;
        position: 0; 
        top: 0; 
        left: 0; 
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
     
    }*/
}