/* LIST CONTACT CONTAINER */
#listContactContainer {
    margin: 0 14px;
    display: none;
    background-color: white;
    padding: 24px 24px;
    position: absolute;
    top: 60px;
}

#alphabeticalRow {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.firstChartSort {
    font-size: 20px;
    padding: 17px 36px;
}

/* singleContact */
.singleContact {
    display: flex;
    padding: 15px 24px; 
    gap: 35px;  
}

a.singleContact:hover {
    cursor: pointer;
}

/* contact signature icon */
.contactSignatureIcon {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--white);
}

.contactSignatureIconLetter {
    color: var(--white);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

/* contact data */

.contactName {
    color: var(--black);
    font-size: 20px;
    line-height: 1.2;
}

.contactEmail {
    color: var(--intenseBlue);
    font-size: 16px;
    line-height: 1.2;
}

.styleHr {
    width: 100%;
    height: 1px;
    background-color: var(--lighterGray);
    margin: 8px 0;
}

.d-none {
    display: none;
}

@media screen and (min-width: 300px)
{
    
   
}



@media screen and (min-width: 456px) {

}

@media screen and (min-width: 721px) { 
    #listContactContainer {
        top: 40px;
        width: 456px;
    }
}

@media screen and (min-width: 1000px) {
    body {
        display: flex;
        flex-direction: row;
        flex: 1;
        height: 100vh;
    }
    
    #contactFlexContainer {
        display: inline-block;
        flex: 1;
    }
