#showSingleContactContainer {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--whiteGray);
}

#singleContact {
  position: relative;
  top: 80px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

#mobileShowContact {
  background-color: var(--whiteGray);
  height: 100vh;
  padding: 0 16px;
}

.singleContactHeader {
  display: flex;
  flex-direction: column;
}

#singleContactNav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 16px;
  top: 82px;
  background-color: transparent;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  transition: background-color 0.3s, transform 0.3s;
}

#singleContactNav:hover {
  cursor: pointer;
}

#singleContactNav:active {
  background-color: #eeeeee;
  border-radius: 50px;
  transform: scale(1.1);
}

#singleContactDesktopButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-top: 8px;
}

.singleContactDestopBtn {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  gap: 8px;
  transition: background-color 0.3s, font-weight 0.3s;
}

.singleContactDestopBtn:hover {
  color: var(--lightBlue);
  cursor: pointer;
  font-weight: 600;
}

.singleContactDestopBtn svg {
  fill: blue;
}

.desktopBtnIcon {
  width: 18.28px;
  height: 18.28px;
}

.singleContactHeaderBorder {
  height: 2px;
  width: 90px;
  background-color: var(--lightBlue);
  margin-top: 8px;
}

.singleContactHeadline {
  color: var(--black);
  font-weight: 700;
  font-size: 47px;
  line-height: 1.2;
}

.singleContactSubtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

#singleContactCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 21px;
  margin-top: 36px;
}

.singleContactDisplayIdentidy {
  display: flex;
  gap: 16px;
  align-items: center;
}



.singleContactName {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;

}

.singleContactIconXl {
  background-color: var(--orangeIcons);
  color: var(--white);
  width: 80px;
  height: 80px;
  border: 1px solid var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  line-height: 1.2;
  box-shadow: 0, 0, 4, 0, rgba(0, 0, 0, 0.1);
}

.singleContactIconName {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
}

.singleContactDescription {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;

}

.singleContactLabel {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
}

.singleContactEmailLink {
  color: var(--intenseBlue)
}

.singleContactEmailLink:hover {
  cursor: pointer;
}

/* */
#contactOverlay {
  display: none;
  justify-content: center;
  align-items: center;
  width: 326px;
  height: 74px;
  border-radius: 20px;
  font-size: 20px;
  background-color: var(--lightGray);
  color: var(--white);
  animation: slideBanner 2s forwards, hideBanner 2s 2s forwards;
  z-index: 900;
}

@keyframes slideOverlay {
  0% {
    transform: translate(-50%, 100%);
  }

  100% {
    transform: translate(-50%, calc(33.33vh -50px))
  }
}

@keyframes hideOverlay {
  0% {
    transform: translate(-50%, calc(33.33vh-50px));
  }

  100% {
    transform: translate(-50%, 100%)
  }
}


@media screen and (min-width: 721px) {
  #singleContact {
    padding-left: 195px;
  }
}

@media screen and (min-width: 1000px) {
  .singleContactHeader {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  #contactOverlay {
    display: none;
  }

  #showSingleContactContainer {
    display: flex;
    position: static;
    left: 0;
    top: 0;
    bottom: 0;
    width: calc(100%-456px);
    height: 100vh;
    background-color: var(--whiteGray);
    overflow: hidden;
  }

  #singleContact {
    padding-left: 48px;

  }

  .singleContactHeader {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  #singleContactNav{
    display: none; 
  }

  .singleContactHeadline {
    order: 1;
    font-size: 61px;
  }

  .singleContactHeaderBorder {
    order: 2;
    transform: rotate(90deg);
    width: 59px;
  }

  .singleContactSubtitle {
    order: 3;
    font-size: 27px;
  }

  .singleContactDestopBtn {
    display: flex;
  }

  #singleContactCol {
    display: none;
  }
}


@media screen and (min-width: 1440px) {}