<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/header.css" />
    <script src="../../js/header.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="mainHeader">
      <div class="logoImgContainer">
        <img
          class="mainHeaderLogoImg"
          src="./assets/img/header/headerLogo.svg"
        />
      </div>

      <div class="theProgramm">
        <p class="theProgrammFont">Kanban Project Management Tool</p>
      </div>

      <div id="userSymbolContainerID" class="userSymbolContainer">
        <img
          onclick="includeContentHTML('Help')"
          class="userSymbolContainerHelp"
          src="assets/img/header/help.png"
        />

        <div onclick="handleSubMenuBtn()">
          <img
            id="headerProfile"
            class="userLogoImg summaryAnimateProgramm editHeaderImage"
            src="assets/img/header/headerCurrentGuestImage.svg"
          />
        </div>

        <div class="headerSubMenu" id="headerSubMenu">
          <div class="headerSubMenuBoxing">
            <div class="headerSubMenuHoverBox">
              <a
                onclick="includeContentHTML('LegalNotice')"
                class="headerSubMenuHoverAnchor"
                >Legal notice</a
              >
            </div>
          </div>
          <div class="headerSubMenuBoxing">
            <div class="headerSubMenuHoverBox">
              <a
                onclick="includeContentHTML('PrivacyPolicy')"
                class="headerSubMenuHoverAnchor"
                >Privacy Police</a
              >
            </div>
          </div>
          <div class="headerSubMenuHoverBox" id="headerLogout">
            <div class="headerSubMenuBoxing"></div>
            <a class="headerSubMenuHoverAnchor">Log out</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
