<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/header.css" />
    <script src="../../js/header.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="mainHeader">
      <div class="logoImgContainer">
        <img
          class="mainHeaderLogoImg"
          src="./assets/img/header/headerLogo.svg"
        />
      </div>

      <div class="theProgramm">
        <p class="theProgrammFont">Kanban Project Management Tool</p>
      </div>

      <div id="userSymbolContainerID" class="userSymbolContainer">
        <a href="./../../assets/templates/help/help.html">
          <img
            class="userSymbolContainerHelp"
            src="assets/img/header/help.png"
          />
        </a>

        <div onclick="toggleDesktopPopup()">
          <img
            id="headerProfile"
            class="userLogoImg"
            src="assets/img/header/headerCurrentGuestImage.svg"
          />
        </div>

        <div class="headerSubMenu hide" id="headerSubMenu">
          <div class="headerSubMenuHoverBox">
            <a
              href="./../../assets/templates/legal_notice/legal_notice_internal.html"
              class="headerSubMenuHoverAnchor"
              >Legal notice</a
            >
          </div>

          <div class="headerSubMenuHoverBox">
            <a
              href="./../../assets/templates/privacy_policy/privacy_policy_internal.html"
              class="headerSubMenuHoverAnchor"
              >Privacy Police</a
            >
          </div>

          <div class="headerSubMenuHoverBox" id="headerLogout">
            <a class="headerSubMenuHoverAnchor">Log out</a>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
