<div class="mainMenu">
  <div class="mainLogoImgContainer">
    <img class="mainLogoImg" src="assets/img/header/headerLogo.svg" />
  </div>

  <div class="theProgramm hide">
    <p class="theProgrammFont">Kanban Project Management Tool</p>
  </div>

  <div id="userSymbolContainer" class="userSymbolContainer">
    <div class="userSymbolContainerHelp">
      <img
        onclick="includeContentHTML('Help')"
        src="assets/img/header/help.png"
        alt=""
      />
    </div>
    <div id="headerProfile" onclick="handleSubMenu()">
      <img src="" class="userLogoImg" />
    </div>
  </div>

  <div class="headerSubMenu hide" id="headerSubMenu">
    <div class="headerSubMenuBoxing">
      <div class="headerSubMenuHoverBox">
        <a
          onclick="includeContentHTML('LegalNotice')"
          class="headerSubMenuHoverAnchor"
          >Legal notice</a
        >
      </div>
    </div>

    <div class="headerSubMenuBoxing">
      <div class="headerSubMenuHoverBox">
        <a
          onclick="includeContentHTML('PrivacyPolicy')"
          class="headerSubMenuHoverAnchor"
          >Privacy Police</a
        >
      </div>
    </div>

    <div class="headerSubMenuHoverBox" id="header-logout">
      <div class="headerSubMenuBoxing"></div>
      <a class="headerSubMenuHoverAnchor">Log out</a>
    </div>
  </div>
</div>